body{
font-family: Arial, Helvetica, sans-serif;
color: #ffffff;
background-color: #00008b;
border: 2px solid #ffffff;
border-radius: 8px;
padding: 16px;
margin: 16px;
box-sizing: border-box;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    margin: 24.0px;
    padding: 8px;
border: 2px solid #ffffff;
border-radius: 8px;
background-color: #ffffff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: 24px;
color: #ffffff;
text-align: center;
margin: 16px;
padding: 8px;
border: 2px solid #ffffff;
border-radius: 8px;
background-color: #ffffff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0 .3s ease;
}